/* Стили для текста "Search" при более узких экранах */
@import "./variables.scss";

@media (max-width: 1335px) {
  .banner {
    .bg {
      img {
        z-index: -10;
      }
    }
  }
}
@media (max-width: 1178px) {
  header {
    .searchBx {
      input {
        font-size: 0.7em;
        padding: 5px 0px;
      }

      a {
        font-size: 1.1em;
        padding: 0 5px;
      }

      i {
        font-size: 1.2rem;
      }
    }
    nav {
      font-size: 14px;
    }
    .logo {
      font-size: 1.7rem;
    }
  }
  .banner h2 {
    font-size: 3.6rem;
  }
}

@media (max-width: 991px) {
  //HEADER
  header {
    padding: 15px 20px;

    .nav {
      transform: translateX(-100%);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-header;
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 100;
      transition: transform 0.6s linear;

      &.active {
        transform: translateX(0); // Показываем меню при активации
      }

      li {
        margin-top: 20px;
        margin-bottom: 0;

        a {
          font-size: 24px;
          margin: 10px 0;
        }
      }
    }
    //TOGGLE
    .toggleMenu {
      position: relative;
      width: 30px;
      height: 30px;
      background: url("../img/menu.svg") center no-repeat;
      background-size: 30px;
      cursor: pointer;
      z-index: 1001;
      color: #fff;
      transition:
        background 0.5s ease,
        transform 0.5s ease;

      &:hover {
        transform: scale(
          1.1
        ); // Немного увеличиваем размер иконки при наведении
      }

      &.active {
        background: url("../img/close.svg") center no-repeat;
        background-size: 30px;
        transform: rotate(180deg);
      }
    }
  }

  //banner
  .banner {
    padding: 0 10px;
    .bg {
      padding: 0 20px;
      img {
        z-index: -10;
        position: absolute;
      }
    }
    .bg .content {
      width: 100%;
      height: 100%;
      background: rgb(27 33 65 / 50%);
      padding: 20px;
      z-index: 1;
      border-radius: 10px;

      h2 {
        font-size: 2.5rem;
      }
      p {
        width: 100%;
      }
    }
  }
  //ABOUT
  .about {
    flex-direction: column;

    .contentBx {
      width: 100%;
    }
    img {
      width: 300px;
    }
  }

  //contact

  .contact {
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
    }

    form {
      width: 100%;
      margin: 30px;
      padding: 10px;

      h1 {
        text-align: center;
      }
    }
  }

  //footer
  .footer {
    .info {
      flex-direction: column;
    }
  }
  .games {
    padding: 0;
  }
}
@media (max-width: 738px) {
  .banner {
    padding: 0;
  }
  .banner .bg .content {
    padding: 10px;
    font-size: 12.8px;
  }
  .banner .bg .content h2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 640px) {
  .tournaments .boxBx .box {
    margin: 25px 10px;
  }
  .tournaments {
    padding: 0;
  }
  .box {
    font-size: 13px;
  }
  .tournaments .boxBx .box .content h4 {
    margin-top: 2px;
  }
  .tournaments .boxBx .box .content {
    padding: 5px 10px;
  }
  .contact {
    padding: 20px 0px;
  }
  .footer {
    padding: 20px 0px;
  }
}
@media (max-width: 600px) {
  #addGameForm {
    padding: 15px;
    text-align: center;

    label {
      font-size: 17px;
    }

    h2 {
      font-size: 20px;
    }

    button {
      font-size: 14px;
    }

    input[type="number"],
    input[type="text"],
    select {
      padding: 5px;
    }
  }
}
@media (max-width: 420px) {
  .about {
    padding: 0 10px;
  }

  .contentBx h2 {
    font-size: 1.2em; // Дополнительное уменьшение размера шрифта заголовка
  }

  .contentBx p {
    font-size: 0.8em; // Дополнительное уменьшение размера шрифта параграфов
  }

  .contentBx a {
    padding: 6px 12px; // Дополнительное уменьшение паддингов
  }
}
@media (max-width: 360px) {
  .wrapper {
    padding: 5px !important;
  }
  header .logo {
    font-size: 1.1rem;
  }
}
