$font-family: "Poppins", sans-serif;
$color-white: #fff;
$color-background: #050e2d;
$color-header: #1b2141;
$color-hover-bg: #1aeeef;
$color-hover-text: #050e2d;
$color-black: #222;
$border-radius: 5px;
$letter-spacing: 1px;
$text-color: #dbd9d9;
$progress-bg: #35407e;
$box-shadow-hover: 0 0 10px $color-hover-bg;
